
     /* @font-face {
      font-family:'Times New Roman', Times, serif;
      }*/
      html, body{
      padding: 0;
      margin: 0;
      }
      html{
      height: 100%;
      }
      body{
      min-height: 100%;
      }

      .header {
      padding: 2em 5em 0;
      }
      
      h1{
      text-align: center;
      font-size: 25pt;
          -webkit-text-fill-color:rgb(41, 41, 41);
          font-family: Arial, Helvetica, sans-serif;
          letter-spacing: 1px;
      padding: 10px;
      }
              
/*table and image related*/
table, th, td {
  border: 1px solid rgb(151, 151, 151);
  grid-row: unset;
  margin-left: 150px;
  margin-top: 40px;
}
#img{
 margin-right: 130px;
 width: 300px;
 height: 250px;                         
 float: right;
 background-position-y: 50px;

 }
#h12{
 color: rgb(151, 151, 151);
}

#price{
  background-color: yellow;
}
/*table and image info ended*/

/*dropdown hover content*/
.dropdown {
  float: left;
  overflow: hidden;
  } 

.dropdown .dropbtn {
 font-size: 16px;  
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}
.dropdown-content {
 display: none;
 position: absolute;
 color: black;
 background-color: #333;
 color: #333;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}

.dropdown-content a:hover {
 background-color: pink;
}

.dropdown:hover .dropdown-content {
 display: block;
}
   /*navigation bar properties*/
   .topnav {
     overflow: hidden;
     /*sets the color of the navigation bar*/
     background-color: #333;
     color: #333;
   }
   
   .topnav a {
     /*docks nav bar to the left*/
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   .center{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
   }
   .topnav a:hover {
     background-color: rgb(141, 141, 141);
     
   }  
   
    .topnav a.active {
     border-bottom: rgb(66, 66, 66);
     color: white;
   }

   /* Style the search box inside the navigation bar */
 .topnav input[type=text] {
   float: right;
   padding: 6px;
   border: none;
   margin-top: 8px;
   margin-right: 16px;
   font-size: 16px;
 }
               /* Style the search box inside the navigation bar */
       #rightbar{
        float: right;
        margin-left: 500px;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 16px;
      }

      /*search bar properties*/
           
.top-nav .search-container {
  float: right;
}

.top-nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.top-nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.top-nav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .top-nav .search-container {
    float: none;
  }
  .top-nav a, .top-nav input[type=text], .top-nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .top-nav input[type=text] {
    border: 1px solid #ccc;  
  }
}
/*end of properties*/

      


.header {
  text-align: center;
  padding: 0px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
    }

    img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }


/* Create 3 equal columns that sit next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 30px;
  -ms-grid-column-align:center;
}

/*FONTS*/
@font-face {
    font-family: "Retro Computer";
    src:
    local("fonts/retro_computer_personal_use.tff"),
    }

    #oop {
    font-family: "Retro Computer", sans-serif;
    }
    @font-face{
      font-family: "barcade";
      src:
      local("fonts/barcade.ttf"),
  }
  #barcade{
      font-family: "barcade", sans-serif;
  }
  #barcade:hover{
     text-decoration-color: black;
     color-adjust: black;
  }
  /*FONTS*/
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(109, 109, 109); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  